.dropdown .text-wrapper {
  display: flex;
  color: #505050;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
  text-wrap: nowrap;
  padding-left: 10px;
}

.dropdown .vector {
  display: flex;
  height: 8.41px;
  position: relative;
  width: 18px;
  padding-right: 10px;
}
