.indicators {
  height: 38px;
  position: relative;
  width: 38px;
}

.indicators .group {
  height: 38px;
}

.indicators .overlap-group {
  border-radius: 19px;
  height: 38px;
  position: relative;
  width: 38px;
}

.indicators .ellipse {
  background-color: var(--variable-collection-accent);
  border-radius: 19px;
  height: 38px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 38px;
}

.indicators .div {
  background-color: var(--variable-collection-accent);
  border: 3px solid;
  border-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--indicator);
  height: 20px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 20px;
}
