.tabs-and-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 33px;
  justify-content: center;
  position: relative;
  width: 328px;
}

.tabs-and-content .tabs-instance {
  align-items: center !important;
  align-self: stretch !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  justify-content: center !important;
  width: 100% !important;
}

.tabs-and-content .design-component-instance-node {
  flex: 1 !important;
  flex-grow: 1 !important;
  margin-bottom: -4.5px !important;
  margin-top: -4.5px !important;
  width: unset !important;
}
