.rec {
  align-items: center;
  background-color: #e2e8f0;
  border-radius: 3px;
  display: flex;
  gap: 10px;
  height: 39px;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
  width: 95px;
}

.rec .material-symbols {
  height: 18px;
  position: relative;
  width: 21px;
}

.rec .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: fit-content;
}

.rec.default {
  background-color: #3274f6;
}

.rec.unselect {
  background-color: #e2e8f0;
}
